/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Nunito", sans;
}

html{
    scroll-behavior: smooth;
}

header{
    /* border: 1px solid; */
    position: fixed;
    width: 100%;
    /* background-color: #fff; */

    background-color: #f8f9fa;
    top: 0px;
    /* border-bottom: 1px solid #FF2542; */
    border-bottom: 2px solid #04e762;
    box-shadow: 0 4px 18px 0px #e3ece7;
    z-index: 5;
}

header nav{
    /* border: 1px solid; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .icon a{
    display: flex;
    align-items: center;
    text-decoration: none;
    /* border: 1px solid; */
}

header nav .icon a img{
    width: 50px;
}

header nav .icon a span{
    /* border: 1px solid; */
    width: 170px;
    font-size: 20px;
    font-weight: 700;
    color: #FF2542;
}

header nav .nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav .nav-menu a{
    text-decoration: none;
    color: #343a40;
    font-weight: 400;
    transition: ease-in-out 200ms;

}

header nav .nav-menu a:hover{
    color: #ff0022;
}

header nav .nav-menu .login{
    padding: 10px;
    border-radius: 10px;
    background-color: #ff0022;
    color: #fff;
    font-weight: 500;
    transition: 300ms ease-in-out;
    border: 1px solid #00000000;
}

header nav .nav-menu .login:hover{
    background-color: #fff;
    border: 1px solid #ff0022;
}

footer{
    height: 120px;
    background-color: #343a40;

    /* background-color: #F00; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
    /* min-height: 100vh; */
    padding: 80px 20px;
}

section  h1{
    color: #ff0022;
    font-size: 2.5rem;
    font-weight: 800;
}

section  p{
    margin-top: 20px;
    text-align: justify;
}

section a{
    background-color: #ff0022;
    color: #fff;
    transition: ease-in-out 200ms;
    text-decoration: none;
    border: 1px solid #00000000;
}

section a:hover{
    /* transform: scale(1.09); */
    background-color: #ffffff;
    color: #ff0022;
    border: 1px solid #ff0022;
}

.daftar-penyakit{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grid responsif */
    gap: 20px; /* Jarak antar item */
}

.img-cover{
    border-radius: 40px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.img-cover img {
    width: 100%; /* Gambar mengikuti lebar kontainer */
    height: auto; /* Tinggi otomatis */
}

/* .diagnosa{
    height: 100vh;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  */

/* .custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
} */

.custom-checkbox .myCheckbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 3px solid #ccc;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.submit{
    padding: 8px;
    border: 1px solid #ff002200;
    border-radius: 10px;
    background-color: #ff0022;
    color: #fff;
    font-weight: 500;
    transition: 300ms ease-in-out;
}

.submit:hover{
    background-color: #fff;
    color: #ff0022;
    border: 1px solid #ff0022;
}

.box-login{
    border: 1px solid;
    border-radius: 20px;
}

.autoresizeTextarea {
    width: 100%; /* Agar textarea mengikuti lebar container */
    min-height: 50px; /*Tinggi minimal*/
    resize: none; /* Matikan manual resize */
    overflow: hidden; /* Sembunyikan scrollbar */
    box-sizing: border-box; /* Agar padding dihitung ke dalam lebar */
    padding: 15px;
    border-radius: 20px;
    border: 1px solid;
}

.modal {
    transition: opacity 0.3s ease;
}


@media only screen and (max-width: 991px) { 
    #beranda{
        display: flex;
        flex-direction: column;
    }

    .hero{
        max-width: 100px;
    }

    header nav .nav-menu .menu{
        display: none;
    }

    section{
        padding-top: 100px;
        min-height: max-content;
    }

    section h1 {
        font-size: 2rem; /* Ukuran lebih kecil di mobile */
    }
}